@import "tailwindcss";

/* As tuas cores custom do Figma (opcional, mas recomendado) */
@theme {
  --color-luna-bg: #09090B;
  --color-luna-primary: #BA21F9;
  --color-luna-text: #FFFFFF;
  --color-luna-secondary: #71717A;
}

/* Fundo escuro global (opcional) */
@layer base {
  body {
    @apply bg-luna-bg text-luna-text;
  }
}